<div style="padding-bottom: 300px;">
  <nz-spin style="margin: auto; text-align: center;" [nzSize]="'large'" *ngIf="isLoading" nzSimple></nz-spin>
  <h1 style="margin: auto; text-align: center; padding-bottom: 20px;">LOGIN</h1>
  <form style="margin: auto;" nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="onLogin()" *ngIf="!isLoading">
    <nz-form-item>
      <nz-form-control nzErrorTip="Please input your email!">
        <nz-input-group nzPrefixIcon="user">
          <input type="email" nz-input formControlName="email" placeholder="E-mail"/>
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control nzErrorTip="Please input your Password!">
        <nz-input-group nzPrefixIcon="lock">
          <input type="password" nz-input formControlName="password" placeholder="Password"/>
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>

    <div style="margin-left: 13%;"><button style="max-width: 40%;" nz-button class="login-form-button login-form-margin" [nzType]="'primary'" *ngIf="!isLoading">Log in</button> | <button style="max-width: 40%;" nz-button class="login-form-button login-form-margin" [routerLink]="['/auth/signup']" [nzType]="'primary'" *ngIf="!isLoading">Register</button></div>
  </form>
</div>


