<div style="margin-bottom: 100px; margin-top:50px; position: relative;">
    <img style="width: 60px; margin-right: auto; margin-left: auto; display: block;" alt="logo.png" src="assets/logo.png">
    <div class="l_main_button">
      <button class="l_button" *ngIf="!isLoginPage" [routerLink]="['/auth/logout']" (click)="onLogout()"><i nz-icon nzType="rocket" nzTheme="outline"></i> Logout</button>
      <button class="l_button" *ngIf="isLoginPage && userIsAuthenticated" [routerLink]="['/']"><i nz-icon nzType="arrow-left" nzTheme="outline"></i> Back to App</button>
    </div>
</div>
<!--<app-blockchain-list></app-blockchain-list>-->

<app-error *ngIf="hasError" [data]="message"></app-error>

<router-outlet></router-outlet>
