.l_main_button{
  right: 5vw;
  position: absolute;
  margin-top: -60px;
}

.l_button{
  background: linear-gradient(90deg,#ff512f,#dd2476);
  border: none;
  color: #fff;
  border-radius: 4px;
  height: 32px;
  cursor: pointer;
  text-align: center;
  position: relative;
  padding: 0 15px;
  line-height: 1.15;
  overflow: visible;
  font: 400 13.3333px Arial;
  transition: all .3s cubic-bezier(.645,.045,.355,1);
  display: inline-block;
  box-sizing: border-box;
  margin: 0;
}

.l_button:hover{
  background: linear-gradient(90deg,#2facff,#2248ee);
}
