<div style="margin-bottom: 100px; position: relative;">
    <img style="width: 60px; margin-right: auto; margin-left: auto; display: block;" alt="logo.png" src="assets/logo.png">
    <a *ngIf="!isLoginPage" style="margin-top: -50px; float:right; padding-right: 50px;" [routerLink]="['/auth/logout']" (click)="onLogout()">Logout</a>
</div>
<!--<app-blockchain-list></app-blockchain-list>-->

<app-error *ngIf="hasError" [data]="message"></app-error>

<router-outlet></router-outlet>

<div style="display: flex; justify-content: center; padding-bottom: 50px; padding-left: 20px;">
    <nz-button-group style="margin-right: 33px;">
        <button class="share_button" nz-button nzType="primary" disabled><i nz-icon nzType="share-alt" nzTheme="outline"></i>SHARE</button>
        <a href="mailto:?subject=Blockchain Demo: Visual demo of blockchain technology&body=Check out this site! https://blockchaindemo.io" target="_blank" nz-button nzType="link" class="common_button"><i style="text-align: center;" nz-icon nzType="mail" nzTheme="outline"></i></a>    
        <a href="https://plus.google.com/share?url=https://blockchaindemo.io" nz-button nzType="link" class="common_button" target="_blank"><i nz-icon nzType="google-plus" nzTheme="outline"></i></a>
        <a href="https://www.facebook.com/sharer/sharer.php?u=#url" nz-button nzType="link" class="common_button" target="_blank"><i style="text-align: center;" nz-icon nzType="facebook" nzTheme="fill"></i></a>
        <a href="https://www.linkedin.com/shareArticle?mini=true&url=https://blockchaindemo.io&title=Coin%20Demo&summary=Visual%20demo%20of%20blockchain%20technologies&source=SeanJamesHan" nz-button nzType="link" class="common_button" target="_blank"><i style="text-align: center;" nz-icon nzType="linkedin" nzTheme="fill"></i></a>
        <a href="https://twitter.com/share?url=https%3A%2F%2Fblockchaindemo.io&via=seanjameshan&related=ProductHunt%2CfreeCodeCamp&hashtags=Blockchain%2CBlockchain%2CEducation%2CDemo%2CLearn&text=Blockchain%20Demo%20-%20Visual%20demonstration%20of%20blockchain%20technologies" nz-button nzType="link" class="common_button" target="_blank"><i style="text-align: center;" nz-icon nzType="twitter" nzTheme="outline"></i></a>
    </nz-button-group>

    <nz-button-group>
        <a href="https://twitter.com/seanjameshan" nz-button nzType="link" class="common_button" target="_blank"><i style="text-align: center;" nz-icon nzType="twitter" nzTheme="outline"></i></a>
        <a href="https://www.linkedin.com/in/seanjameshan/" nz-button nzType="link" class="common_button" target="_blank"><i style="text-align: center;" nz-icon nzType="linkedin" nzTheme="fill"></i></a>
        <a href="https://medium.com/@seanjameshan" nz-button nzType="link" class="common_button" target="_blank"><i nz-icon nzType="medium-square" nzTheme="fill"></i></a>
        <a href="https://github.com/seanjameshan" nz-button nzType="link" class="common_button" target="_blank"><i style="text-align: center;" nz-icon nzType="github" nzTheme="outline"></i></a>
        <a href="mailto:sean.han@mail.utoronto.ca" nz-button nzType="link" class="common_button" target="_blank"><i style="text-align: center;" nz-icon nzType="mail" nzTheme="outline"></i></a>
        <button class="share_button" nz-button nzType="primary" disabled><i nz-icon nzType="heart" nzTheme="outline"></i>CONNECT</button>
    </nz-button-group>
</div>